# Windows files
**/Thumbs.db

# Mac OS files
**/.DS_Store
**/__MACOSX/**/*

# Visual Studio files
**/.vscode/**/*
**/.vs/**/*
bin/**/*
obj/**/*
**/*.obj
**/*.pdb
**/*.user
**/*.aps
**/*.pch
**/*.vspscc
**/*_i.c
**/*_p.c
**/*.ncb
**/*.suo
**/*.tlb
**/*.tlh
**/*.ilk
**/*.lib
**/*.sbr

# IntelliJ Idea Files
.idea/**/*
*.apk
*.iml

# Javascript Files
app/**/*.js

# Source control files
.gitignore
.git/**/*

# Other
**/*.bak
**/*.cache
**/*.log

# NativeScript files
platforms/**/*
node_modules/**/*
typings/**/*
hooks/**/*

#NativeScript cloud files
.cloud/**/*
.tmp_backup/**/*
*.apk
# Windows files
**/Thumbs.db

# Mac OS files
**/.DS_Store
**/__MACOSX/**/*

# Visual Studio files
**/.vscode/**/*
**/.vs/**/*
bin/**/*
obj/**/*
**/*.obj
**/*.pdb
**/*.user
**/*.aps
**/*.pch
**/*.vspscc
**/*_i.c
**/*_p.c
**/*.ncb
**/*.suo
**/*.tlb
**/*.tlh
**/*.ilk
**/*.lib
**/*.sbr

# IntelliJ Idea Files
.idea/**/*
*.apk

# Javascript Files
app/**/*.js

# Source control files
.gitignore
.git/**/*

# Other
**/*.bak
**/*.cache
**/*.log

# NativeScript files
platforms/**/*
node_modules/**/*
typings/**/*
hooks/**/*

#NativeScript cloud files
.cloud/**/*
.tmp_backup/**/*
*.apk
.eslintignore
.eslintrc
.jsbeautifyrc
!app/services/ads.js