// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

// Font icon class
.fa {
    font-family: "FontAwesome";
 }
 // Common page class
 .page-content {
     
     .page-placeholder {
         color: $page-icon-color;
         font-size: $page-content-placeholder-font-size;
         vertical-align: center;
         horizontal-align: center;
     }
 
     .page-icon {
         font-size: 72;
         vertical-align: top;
         horizontal-align: center;
         color: $page-icon-color;
         margin-top: 20%;
     }
 }

 //Action bar
 ActionBar .action-bar-title {
     horizontal-align: center;
     color: white;
 }

 Label{
   color: black;
 }

 .timer{
   font-size: 20dpi;
   color: #000099;
   margin-top: 5dpi;
   margin-bottom: 5dpi;
 }

.selected {
  background-color: #3A53FF;
  color: white;
}

.not-selected {
  background-color: white;
  color: black;
}

.margin {
  margin-left: 15dpi;
  margin-right: 15dpi;
}

.all{
  background-color: #14418B;
  color: white;
}

.correct{
  background-color: #07C65A;
  color: white;
}

.incorrect{
  background-color: #ed1b1f;
  color: white;
}

.skipped{
  background-color: #4c8ec1;
  color: white;
}

.tbd{
  background-color: #808080;
  color: white;
}

.drawer-header{
  color: #fff;
  font-size: 20dpi;
  horizontal-align: left;
  vertical-align: bottom;
}